version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: terasoluna-try-farhan
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: terasoluna_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
